{% extends "base.html" %}

{% block script %}
    <script>
    async function filterLeagues() {
        const select_elm = document.getElementById("league")
        var select = document.getElementById("season").value;
        let response = await fetch('leagueinfofetch');
        let leagues = await response.json();
        let arr = []

        leagues.forEach(l => {
            if (l.season_id == select){
                arr.push(l)
            }
        })

        select_elm.innerHTML=""
        const defaultvalue = document.createElement("option")
        defaultvalue.textContent = "Select League"
        select_elm.appendChild(defaultvalue)
        arr.forEach(league => {
            const option = document.createElement("option");
            option.value = league.id
            option.textContent = league.name;
            select_elm.appendChild(option);
        });
    }

    </script>
{% endblock %}
{% block title %}{{ current_user.name }}{% endblock %}

{% block heading %}
<div class="pageTitle">
    <h1>Add</h1>
    <h1 style="color: #00A755">club</h1>
</div>
{% endblock %}
{% block content %}
 <div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}">
        {{message.text}}
        {% if message.link %}
            Go to <a href="{{message.link}}">{{ message.linktext }}</a>.
        {%endif%}
    </div>
    {%endfor%}
    {% endif %}
    {% endwith %}
<div style="margin-top: 2rem">
        <form method="POST" style="margin-top: 2rem" action="/add-club">
            <div>
                <input type="text" name="name" placeholder="club name" class="form-control">
            </div>
            <div>
                <label style="margin-top: 1rem">Select Season
                    <select class="form-select" aria-label="League Seasons Select" name="season" id="season" onchange="filterLeagues()">
                        <option value="">Select Season</option>
                        {% for season in seasons %}
                            <option value="{{ season.id }}">{{ season.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div>
                <label style="margin-top: 1rem">Select League
                    <select class="form-select" aria-label="League Select" name="league" id="league">

                    </select>
                </label>
            </div>
            <div>
                <label style="margin-top: 1rem">Club Logos File
                    <select class="form-select" aria-label="Select Club Logo" name="logo">
                        {% for logo in logos %}
                            <option value={{ logo }}>{{ logo }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <button class="btn btn-success" style="margin-top:1rem">Add Club</button>
        </form>
    </div>
</div>

{% endblock %}