{% extends "base.html" %}

{% block title %}{{ current_user.name }}{% endblock %}

{% block heading %}
<div class="pageTitle">
    <h1>Add new League</h1>
    <h1 style="color: #00A755"> Admin</h1>
</div>
{% endblock %}
{% block content %}<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}">
        {{message.text}}
        {% if message.link %}
            Go to <a href="{{message.link}}">{{ message.linktext }}</a>.
        {%endif%}
    </div>
    {%endfor%}
    {% endif %}
    {% endwith %}
    <div style="margin-top: 2rem">
        <form method="POST" action="/add-league-admin">
            <div>
                <div>
                    <input type="email" name="email" placeholder="New Admin's Email" autofocus="" class="form-control">
                </div>
            </div>

            <div>
                <div>
                    <input type="password" name="password" placeholder="New Admin's Password" class="form-control">
                </div>
            </div>
            <div>
                <input type="text" name="name" placeholder="New Admin's Name" class="form-control">
            </div>
            <button class="btn btn-success" style="margin-top:1rem">Add League Admin</button>
        </form>
    </div>
</div>
{% endblock %}