{% extends "base.html" %}

{% block title %}{{ current_user.name }}{% endblock %}

{% block heading %}
<div class="pageTitle">
    <h1 style="margin-top: 10%">Add</h1>
    <h1 style="color: #00A755">league</h1>
</div>
{% endblock %}
{% block content %}
<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}">
        {{message.text}}
        {% if message.link %}
            Go to <a href="{{message.link}}">{{ message.linktext }}</a>.
        {%endif%}
    </div>
    {%endfor%}
    {% endif %}
    {% endwith %}
    <div style="margin-top: 2rem">
        <form method="POST" style="margin-top: 2rem" action="/add-league">
            <div>
                <input type="text" name="name" placeholder="League name" class="form-control">
            </div>
            <div>
                <label style="margin-top: 1rem">Select Season
                    <select class="form-select" aria-label="League Seasons Select" name="season">
                        {% for season in seasons %}
                            <option value="{{ season.id }}">{{ season.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div>
                <label style="margin-top: 1rem">Select Age Group
                    <select class="form-select" aria-label="League Age Group Select" name="ageGroup">
                        {% for agegroup in range(6,18) %}
                            <option value="{{ agegroup }}">U{{ agegroup }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <button class="btn btn-success" style="margin-top:1rem">Add Season</button>
        </form>
    </div>
</div>
{% endblock %}