{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block heading %}
<div class="pageTitle">
    <h1>Admin</h1>
    <h1 style="color: #00A755">login</h1>
</div>
{% endblock %}

{% block content %}
<div>
    <div style="margin-top: 2rem">
        <form method="POST" action="/login">
            <div>
                <div>
                    <input type="email" name="email" placeholder="Your Email" autofocus="" class="form-control">
                </div>
            </div>

            <div>
                <div>
                    <input type="password" name="password" placeholder="Your Password" class="form-control">
                </div>
            </div>
            <div class="form-check" style="margin-top: 1rem">
                <input type="checkbox" name="remember" class="form-check-input">
                <label class="form-check-label">
                    Remember me
                </label>
            </div>
            <button class="btn btn-success" style="margin-top:1rem">Login</button>
        </form>
    </div>
</div>
{% endblock %}